* {
    padding: 0;
    margin: 0;
}

.top-header {
    padding: 51px 0;
    margin: 0 0 96px 0;
}

.menu {
    margin: 51px 0 0 0;
}

.menu-button {
    margin: 40px 0 0 0;
}

.top-info-title {
    margin: 143px 0 17px 0;
}

.top-info-text {
    margin: 0 0 37px 0;
}

.top-promo {
    margin: 0 0 103px 0;
}

.top-img {
    margin: 84px 0 0 0;
}

.top-logo {
    padding: 97px 0;
}